.principalAdmin{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorUsuarios{
    width: 90%;
    height: 90%;
    margin-top: 10px;
}

.primerBotonAdmin{
    border-radius: 15px 0px 0px 0px;
}

.ultimoBotonAdmin{
    border-radius: 0px 15px 0px 0px;
}

.butonGroupFiltrosAdmin{
    border: 6px solid white;
    border-radius: 21px 21px 0px 0px;
    background-color: white;
    border-bottom: 2px solid white;
}

.divFiltrosAdmin{
    margin-left: 80px;
    bottom: 45px;
}

.cardFiltrosAdmin{
    height: 3px;
    margin-top: 75px;
}

.bodyCardListadoUsuarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    padding-left: 10px;

}

.divAdminElementos{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.divAdminElementosInfo{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.editarBorrarUsuario{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: flex-end;
}

.informacionUsuario{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
}

.editarUsuarioBoton{
    margin-right: 15px;
}

.botonAnadirUsuario{
    position: fixed;
    bottom: 50px;
    right: 120px;
}

.botonMostrarTodoAdmin{
    color: #000;
    background-color: rgb(255, 255, 255);
    border-color: white;
}

.botonMostrarOperadoresAdmin{
    color: #000;
    background-color: rgb(255, 255, 255);
    border-color: white;
}

.botonMostrarSupervisoresAdmin{
    color: #000;
    border-color: white;
    background-color: rgb(255, 255, 255);
}

.botonMostrarAdministradoresAdmin{
    color: #000;
    border-color: white;
    background-color: rgb(255, 255, 255);
}


.cardInformacionUsuarioAdmin{
    
}
