/* .informacionLlamante{
    right: 5%;
    margin-top: 5%;
    position: fixed;
} */

.principalCarta{
    display: flex;
    /* justify-content: space-between;
    justify-content: center; */
    justify-content: space-between;
    width:100%;
}

.zonaTelefono{
    width: 15%;
    margin-left: 15px;
}

.zonaFormulario{
    width: 60%;
}

/* .provinciaMunicipio{
    display: flex;
    align-items: center;
} */
