
.principalEstadisticas{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.carroselEstadisticas{
    width: 100%;
    display: flex;
    align-items: center;
}

.grafico1{
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 20px;
    width: 99%;
    border: 10px solid rgb(0, 0, 0);
}

.grafico2{
    background-color: antiquewhite;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 20px;
    width: 99%;
}

.grafico3{
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 20px;
}

.generalEstadisticas{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grafico2i3 div{
    width: 100%;
    height: 35%;
}

.carrouselInnerEstadisticas{
    width: 80%;
    margin-left: 10%;
}
