#botonInicio{
    width: 80%;
    height: 400px;
}


body{
  background-color: rgb(235, 123, 123);
}


.logoBotonInicio{
    position: fixed;
    top: 10%;
    right: 5%;
}

.colu{
    width: 100%;
}

