
.principal{
   width: 100%;
    height: 600px;
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

body{
    background-color: salmon;
}

.boton1{
    width: 100%;
    height: 100%;
}

.boton2{
    width: 100%;
    height: 100%;
}

.divLlamada, .divExpediente{
    width: 100%;
}

.divExpediente{
    margin-left: 15px;
}

.divLlamada{
    margin-right: 15px;
}
